PROJECT_ROOT=.
FRONTEND_PORT=3001
ADDR=0.0.0.0:3001
WS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3001,http://127.0.0.1:3001,http://YOUR_SERVER_IP:3001
LOGGER_LEVEL=DEBUG
